<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$('p').animate({
			fontSize : '72px'
		}, "slow");
		$('p').animate({
			fontSize : '48px'
		}, "slow");
	});
</script>

</head>
<body>
	<div class="container">

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<h1>Generated via ThymeLeaf</h1>
			<p th:text="'Hello, ' + ${name} + '!'" />
		</div>
	</div>
</body>
</html>