<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Landing Approval Result</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" th:href="@{/css/stylesheet.css}" />
	</head>
	<body>
		<h1>Landing Approval Status for Aircraft
			<span th:text="${aircraftTypeDesignator}" th:remove="tag"></span>
		</h1>
		<table>
			<caption>
				Runways of Airdrome
				<span th:text="${icaoCode}" th:remove="tag"></span>
			</caption>
			<tr>
				<th>Designator</th>
				<th>Approval Status</th>
			</tr>
			<th:block th:each="runwayApprovalResult : ${runwayApprovalResults}">
				<tr>
   					<td th:text="${runwayApprovalResult.runwayDesignator}" />

   		    		<td class="approved" th:if="${runwayApprovalResult.isApproved}">Approved</td>
					<td class="unapproved" th:unless="${runwayApprovalResult.isApproved}">Not Approved</td>
				</tr>
			</th:block>
		</table>
	</body>
</html>
