<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Landing Approval Result</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" th:href="css/stylesheet.css" />
	</head>
	<body>
		<form action="landing-approver-result" method="get" autocomplete="off">
			<h1>Aircraft Landing Approver</h1>
			<table>
				<tr>
					<th><label for="icaoCode">ICAO Code</label></th> 
					<td><input name="icaoCode" id="icaoCode" type="text" /></td>	
				</tr>
				<tr>
					<th><label for="aircraftTypeDesignator">Aircraft Designator</label></th> 
					<td><input name="aircraftTypeDesignator" id="aircraftTypeDesignator" type="text" /></td>
				</tr>
				<tr>
					<td><img src="http://images.clipartpanda.com/aircraft-clipart-clipart-aircraft-97bb.png" alt="Aircraft"/></td>
					<td><button type="submit" name="Approve" >Get Approvals</button></td>
		 		</tr>
		 	</table>
		</form>
	</body>
</html>
